{% extends 'core/base.html' %}

{% load static %}

{% block title %}
  Historia
{% endblock %}

{% block content %}
  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about3.png' %}" alt="" />
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Creating value</span>
                <span class="section-heading-lower">From sales & marketing leader to tech world</span>
              </h2>
              <p>
                Hi! I'm Javier Cifuentes Avendaño. My career is built on a foundation of passion for three things: building meaningful business connections, marketing and technology. I began my journey as a customer executive in a large company where I discovered a potential talent in persuasion, negotiation and communication. After realizing that these skills were highly valued in the sales and business department I wanted to explore my performance in this competitive world where many people wanted have success by closing much sales.
                It only took me a few months to prove my success in closing deals and making quick sales. 
              </p>
              <p>
                Since then, I have worked more than 13 years in B2B and B2C sales in various sectors such as telecommunications, industrial, financial and technology. Simultaneously I studied at the Business School of the Universidad Mayor de Chile, graduating as a Management Engineer specialized in Marketing and Business obtaining the highest distinction for my qualifications.
              </p>
              <p>
                From the onset of the pandemic, I felt a deep calling to jump on the bandwagon of digital transformation that was coming to change the way all processes from a simple buy to business complex between large companies.

                For me the pandemic was a technological awakening because since I was a teenager I had an affinity and curiosity for technology but for various reasons I never studied a professional career related to it. So I started to sign up for bootcamps and technological courses of programming languages to understand the world of software and web developers. This initiative has a purpose to give a twist to my career for working on tech positions as full stack developer, data analyst or data scientist.
              </p>

              <h3 class="section-heading mt-5">My Philosophy & Education</h3>

              <p>
                I believe that the most successful companies are those that seamlessly integrate powerful technology with strong human-centered interpersonal skills. I am committed, responsible, respectful and an agile team player who excels at adapting to new challenges. My purpose is to value generate, innovate and grow to the companies with my unique skills.
              </p>
              <p>
                My formal education provided me with the foundation, but my commitment to learning is what keeps me on my toes in the constant search for new knowledge. My professional degree is Management Engineer specialized in Marketing & Commercial Management - Universidad Mayor, Chile (Graduated with Maximum Honor)  🔸 Certified Advanced Backend Developer (Python, Flask, Django) - IBM  🔸  Diploma in Python and Data Science - Universidad Autonoma de Chile  🔸 Business Fundamentals Certificate - Harvard Business Publishing Education (...and many more in Cybersecurity, AI, Java, and Mindfulness.)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
